---
import Layout from '../../layouts/Layout.astro';
import NavBar from '../../components/NavBar.astro';
import Footer from '../../components/Footer.astro';
import WaitlistForm from '../../components/WaitlistForm.astro';
import { getCollection } from 'astro:content';

const posts = await getCollection('blog');
posts.sort((a, b) => new Date(b.data.pubDate).getTime() - new Date(a.data.pubDate).getTime());


const title = "UpNotify Blog";
const description = "Stay updated with the latest news and tips from UpNotify.";
---
<Layout title={title} description={description}>
	<div class="">
	  <NavBar/>
	  <main>
        
      <main class="flex-grow container mx-auto px-4 py-12 relative">
        <h1 class="text-4xl font-black text-dark mb-8">UpNotify Blog</h1>
        <div class="grid gap-8 md:grid-cols-2 lg:grid-cols-3">
          {posts.map((post) => (
            <a href={`/blog/${post.slug}`} class="bg-white p-6 rounded-lg shadow-lg hover:shadow-xl transition-shadow">
              <h2 class="text-2xl font-bold text-dark mb-2">{post.data.title}</h2>
              <p class="text-gray-600 mb-4">{new Date(post.data.pubDate).toLocaleDateString()}</p>
              <p class="text-gray-800">{post.data.description}</p>
            </a>
          ))}
        </div>
      </main>

        <WaitlistForm/>
	
	  </main>
	  <Footer/>


	  
	</div>
	<script type="application/ld+json" set:html={JSON.stringify({
	  "@context": "http://schema.org",
	  "@type": "SoftwareApplication",
	  "name": "UpNotify",
	  "applicationCategory": "BusinessApplication",
	  "operatingSystem": "Web",
	  "description": "UpNotify helps freelancers find Upwork jobs faster with advanced RSS and search capabilities.",
	  "offers": {
		"@type": "Offer",
		"price": "6.00",
		"priceCurrency": "USD"
	  }
	})} />
  </Layout>

